<h2>Borrowers</h2>

<% @tenants.each do |t| %>
<div class="borrower">
  <p><%= t.name %></p>
  <p><%= t.description %></p>
  <!-- <p><%# link_to 'Show', controller: "tenant", action: "show", id: t %></p> -->
</div>

<%end%>
