<li>
  <div class="ch-item">
    <div class="ch-info-wrap">
      <div class="ch-info">
        <div class="ch-info-front" style="background-image: url(<%= item.image %>);"></div>
        <div class="ch-info-back">
          <p>nope</p>
        </div>
      </div>
    </div>
  </div>
</li>
