<nav>
  <ul>
    <li><%= link_to "Choose A Borrower", tenants_path %></li>
    <li><%= link_to "Make A Loan", loan_requests_path %></li>
    <li><%= link_to "Browse Categories", category_index_path %></li>
  </ul>
</nav>
