<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> !</h1>
    <p>
      Your order has been completed.
    </p>
    <% @loans.each_with_index do |loan, index| %>
      <p>You gave <%= loan.user.tenant.name %> <%= number_to_currency(@amounts[index], precision: 0) %> for <%= loan.title %></p>
    <% end %>
  </body>
</html>
