<div class="row">

  <div id="h1-box">
    <div class="small-12 columns">
      <h1>Keevahh</h1>
    </div>
    <div class="small-12 small-centered columns">
      <p>
        Coming soon.
      </p>
    </div>
    <hr id="h1-box">
  </div>

  <ul class = "ch-grid">

    <% @items.each do |item| %>
      <div class="small-12 medium-4 large-4 end columns">
        <%= render partial: "shared/circle_image", locals: { item: item } %>
      </div>
    <% end %>
  </ul>

</div>
