html {
  margin: 0;
  padding: 0;
}

body {
  border-top: 15px solid #7AB317;
  background: #EBE7E0;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: .8em;
}

.content {
  width:90%;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 25px 25px;
  border: 10px solid #7AB317;
  padding: 10px 10px 60px 10px;
  margin-top: -10px;
  background-image: url("footer_icon.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #7AB317;
}

.corner-register {
  float:right;
  margin-top: -32px;
  margin-right: -11px;
}

.corner-mystore {
  float:right;
}

h1 {
  font-size: 3em;
  color: #7AB317;
  text-transform: uppercase;
}

nav {
  background: #EBE7E0;
  border-radius:10px;
  height: 40px;
}

nav li {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
  border-right: 1px solid #ccc;
  text-transform: uppercase;
}

.borrower {
  border: 1px solid #EBE7E0;
  padding: 10px;
  width: 30%;
  margin: 10px;
}

.store {
  border: 1px solid #EBE7E0;
  padding: 10px;
  width: 80%;
}

.loan_request {
  background: #fff;
  border: 1px solid #EBE7E0;
  border-radius: 15px;
  width: 23%;
  padding: 5px;
  margin: 5px;
  float: left;
}

footer {
  text-align: center;
  font-size:0.8em;
  font-style: italic;
}
